<div id="containerFaker">
    <h3>FAKER</h3>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Thumbnail</th>
            </tr>
        </thead>
        <tbody id="tbodyFaker"></tbody>
    </table>
</div>