<form method="POST" action="/api/products" >
    <input type="text" name="title" id="title" placeholder="title" >
    <input type="text" name="price" id="price" placeholder="price" >
    <input type="text" name="thumbnail" id="thumbnail" placeholder="thumbnail" >
    <input type="submit" value="Enviar">
</form>