<!-- Products -->
<div id="divTableProds">
    <h3>Enter a PRODUCT</h3>
    <!-- Form -->
    <form id="chatForm">
        <label>
            Title Prod
            <input type="text" id="titleProd" value="titleProd" />
        </label>

        <label>
            Price Prod
            <input type="text" id="priceProd" value="priceProd" />
        </label>

        <label>
            Thumb Prod
            <input type="text" id="thumbProd" value="thumbProd" />
        </label>

        <button id="submitProds" onclick="inputProds()">SUBMIT</button>
    </form>
    <!-- Form -->

    <!-- Table -->
    <table id="tableProds">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Thumbnail</th>
            </tr>
        </thead>
        <tbody id="tbodyProds"></tbody>
    </table>
    <!-- Table -->
</div>

<!-- PRODUCTS -->