<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../partials/head"); %>
</head>

<body>
  <a href="/api/products/">PRODUCTS</a>
  <%- include("../partials/form") %>
    <%- include("../partials/footer"); %>
</body>

</html>