<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../partials/head"); %>
</head>

<body>
  <h2>SIGN IN</h2>
  <%- include("../partials/sign") %>
    <%- include("../partials/footer"); %>
</body>

</html>